/* Intro (INICIO) */
#section-intro {
  background-image: url("../images/arquiteruraeu-inicio.jpg");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro_content {
  text-align: center;
  width: 100%;
  color: white;
  font-size: 24px;
}

.intro_content > img {
  width: 350px;
  margin-bottom: 15px;
}

.intro__icon {
  width: 100%;
  font-size: 35px;
  color: #4db6ac;
  position: absolute;
  bottom: 40px;
  text-align: center;
}
/* Intro (FIM) */

/* Projetos (INICIO) */
.projetos__header > .titulo {
  text-align: center;
  margin: 0;
  color: #ff8a65;
}

.projeto-box {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 1s ease-in-out;
  cursor: pointer;
  position: relative;
}

.projeto-box:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.projeto-box:hover > .box__layer-background {
  background-color: rgba(255, 138, 101, 0.8);
  color: white;
  transition: all 0.3s ease-in-out;
}

.projeto-box:hover > .box__line-bottom,
.projeto-box:hover > .box__line-left,
.projeto-box:hover > .box__line-right,
.projeto-box:hover > .box__line-top {
  background-color: rgba(77, 182, 172, 1);
  transition: all 0.3s ease-in-out;
}

.projeto-box > img {
  width: 100%;
}

.box__text-content {
  text-align: center;
  width: 100%;
}

.box__text-content > #text-content__titulo {
  font-size: 18.4px;
  font-weight: 600;
}

.box__text-content > #text-content__sub-titulo {
  font-size: 16px;
}

.box__layer-background {
  color: transparent;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  margin-left: 20px;
  margin-top: 20px;
  background-color: transparent;
  position: absolute;
  transition: all 1s ease-in-out;
}

.box__line-left {
  width: 2px;
  position: absolute;
  background-color: transparent;
  height: calc(100% - 20px);
  left: 30px;
  top: 10px;
  z-index: 99;
  transition: all 1s ease-in-out;
}

.box__line-right {
  width: 2px;
  position: absolute;
  background-color: transparent;
  height: calc(100% - 20px);
  right: 30px;
  top: 10px;
  z-index: 99;
  transition: all 1s ease-in-out;
}

.box__line-top {
  height: 2px;
  position: absolute;
  background-color: transparent;
  width: calc(100% - 20px);
  top: 30px;
  left: 10px;
  z-index: 99;
  transition: all 1s ease-in-out;
}

.box__line-bottom {
  height: 2px;
  position: absolute;
  background-color: transparent;
  width: calc(100% - 20px);
  bottom: 30px;
  left: 10px;
  z-index: 99;
  transition: all 1s ease-in-out;
}
/* Projetos (INICIO) */

/* Frases (INICIO) */
#section-frases {
  width: 100%;
  height: 400px;
  position: relative;
  background: url("../images/carousel/depoimentos-parallax.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-filter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

#carouselPanel {
  width: 55%;
  height: 63%;
  margin: 0 auto;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-indicators > li {
  display: inline-block !important;
  width: 10px !important;
  height: 10px !important;
  margin: 3px !important;
  text-indent: -999px !important;
  cursor: pointer !important;
  border: 1px solid #fff !important;
  border-radius: 10px !important;
  background-color: #4db6ac !important;
}

.carousel-indicators > .active {
  width: 12px !important;
  height: 12px !important;
  margin: 1px !important;
  background-color: #fff !important;
}

#control-icons {
  font-size: 35px;
  color: #4db6ac;
}

.carousel-inner {
  /* left: 128.11px; */
  /* right: 128.11px; */
}

.carousel-item > #item-image {
  width: 60px;
  height: 60px !important;
  border-radius: 50%;
  border: 2px solid #4db6ac;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.carousel-item > #item-name {
  text-align: center;
  width: 100%;
  font-size: 17px;
  font-weight: 600;
  margin: 15px 0;
  color: white;
}

.carousel-item > #item-content {
  text-align: center;
  width: 100%;
  font-size: 16px;
  color: white;
}

/* Frases (FIM) */

/* Atividades (INICIO) */

.ativ-card {
  padding: 0 15px;
  margin: 15px 0;
}

.ativ-content {
  text-align: center;
  padding: 28px 0 !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 1s ease-in-out;
}

.ativ-content:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background: #ffa50005;
}

.ativ-content > p {
  color: #4db6ac !important;
  margin: 24px 0;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  min-height: 65px;
}

.ativ-content > hr {
  border-top: 2px solid #ff8a65;
  width: 20%;
  margin: 20px auto;
}

/* Atividades (FIM) */

/* Image-wrapper (INICIO) */

.img-wrapper {
  background-image: url(../images/conquistas-parallax.png);
  height: 400px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll;
}

.img-filter {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.img-text {
  position: absolute;
  text-align: center;
  transform: translateY(-50%);
  top: 50%;
  width: 100%;
}

.img-text > h4 {
  color: white;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  font-family: "Prompt", sans-serif;
  margin: 0;
}

/* Image-wrapper (FIM) */

/* Sobre Mim (INICIO) */

#img-container > img {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.tab-pane > p {
  text-align: justify;
  line-height: 1.35;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-top: 20px;
  font-size: 1.15rem;
  color: #9e9e9e !important;
}

.tab-pane > ul {
  text-align: justify;
  line-height: 1.35;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding: 20px 0 0 0;
  font-size: 1.15rem;
  list-style-type:none;
  color: #9e9e9e !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  border-color: #4db6ac #4db6ac #fff !important;
}

.nav-link{
  color: #4db6ac !important;
}

.nav-link:hover{
  background: #EEEEEE;
}

.nav-tabs{
  border-bottom: 1px solid #4db6ac !important;
}

.tab-pane{
  overflow: auto;
  height: 458px;
}
/* Sobre Mim (FIM) */

/* Footer (INICIO)*/
#section-footer{
  padding: 105px 0;
  background: #4db6ac !important;
}

#section-footer img {
  width: 100%;
}

#contato{
 color: white;
}

#contato ul{
  margin: 0;
} 

#contato h5 {
  text-align: center;
  margin-bottom: 42px;
}

#contato button {
  background: white;
}

.button-wrapper{
  text-align: center;
  width: 100%;
  padding: 30px 0;
}
/* Footer (FIM)*/
