
.navbar {
  z-index: 999;
  background-color: #ff8a65 !important;
  overflow: hidden;
  position: fixed !important;
  top: 0;
  width: 100%;
}

.navbar-brand > img {
  width: 40px;
}

.nav-link {
  color: white !important;
  margin: 0 5px;
  border-bottom: 2px solid transparent;
}

.nav-link:hover {
  border-bottom: 2px solid #4db6ac;
  background: transparent;
}